flows.json
[
    {
        "id": "e27f1b2639a0208c",
        "type": "tab",
        "label": "模版流程1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13f04223b78eae09",
        "type": "tab",
        "label": "模版流程2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3802c696647990ad",
        "type": "subflow",
        "name": "打开灯光",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 220,
                "y": 280,
                "wires": [
                    {
                        "id": "59c6027887474b8c"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "REIP",
                "type": "str",
                "value": "172.16.66.87"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "8aa859640849a524",
        "type": "subflow",
        "name": "MUTE设置",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 240,
                "y": 220,
                "wires": [
                    {
                        "id": "75b62a2d12dda94b"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "891217bc10092296",
        "type": "subflow",
        "name": "打开灯光",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 220,
                "y": 280,
                "wires": [
                    {
                        "id": "ee4303c6b315bebf"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "REIP",
                "type": "str",
                "value": "172.16.66.87"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "885cb98dd62fafb3",
        "type": "subflow",
        "name": "会议室",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 180,
                "y": 260,
                "wires": [
                    {
                        "id": "51fe522054d206b4"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "MX0402",
                "type": "str",
                "value": "192.168.1.1"
            },
            {
                "name": "SW640",
                "type": "str",
                "value": "192.168.1.2"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "59c6027887474b8c",
        "type": "device-command",
        "z": "3802c696647990ad",
        "name": "打开灯光",
        "device": "MX0402",
        "command": "MUTE",
        "cmdValue": "SET AUD_MUTE ALL ON",
        "x": 380,
        "y": 280,
        "wires": [
            [
                "b9a18da66c63a0e5"
            ]
        ]
    },
    {
        "id": "e4a97ffe671ddb8c",
        "type": "debug",
        "z": "3802c696647990ad",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "b9a18da66c63a0e5",
        "type": "tcp request",
        "z": "3802c696647990ad",
        "name": "MX0402设备发送命令",
        "server": "${REIP}",
        "port": "23",
        "out": "time",
        "ret": "string",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 620,
        "y": 280,
        "wires": [
            [
                "e4a97ffe671ddb8c"
            ]
        ]
    },
    {
        "id": "75b62a2d12dda94b",
        "type": "device-command",
        "z": "8aa859640849a524",
        "name": "Mute/UNMuTE",
        "device": "MX0402",
        "command": "MUTE",
        "cmdValue": "SET AUD_MUTE ALL ON",
        "x": 400,
        "y": 220,
        "wires": [
            [
                "41be7e7bdfa6e699"
            ]
        ]
    },
    {
        "id": "41be7e7bdfa6e699",
        "type": "debug",
        "z": "8aa859640849a524",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "ee4303c6b315bebf",
        "type": "device-command",
        "z": "891217bc10092296",
        "name": "打开灯光",
        "device": "MX0402",
        "command": "MUTE",
        "cmdValue": "SET AUD_MUTE ALL ON",
        "x": 380,
        "y": 280,
        "wires": [
            [
                "20eea443e5088fb3"
            ]
        ]
    },
    {
        "id": "7d4a61d9df41958a",
        "type": "debug",
        "z": "891217bc10092296",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "20eea443e5088fb3",
        "type": "tcp request",
        "z": "891217bc10092296",
        "name": "MX0402设备发送命令",
        "server": "${REIP}",
        "port": "23",
        "out": "time",
        "ret": "string",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 620,
        "y": 280,
        "wires": [
            [
                "7d4a61d9df41958a"
            ]
        ]
    },
    {
        "id": "51fe522054d206b4",
        "type": "switch",
        "z": "885cb98dd62fafb3",
        "name": "Device Parser",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Go Home",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Leave Home",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Adjust Volume",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Open Led",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Matrix Set $SRC1 $SRC2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 340,
        "y": 260,
        "wires": [
            [
                "4611f1a786f113f7"
            ],
            [
                "8f11cfa96b6c105f"
            ],
            [
                "4dbac264f937b206"
            ],
            [
                "9e7ff0250dd8d86e"
            ],
            [
                "541b27fa62756559"
            ]
        ]
    },
    {
        "id": "4611f1a786f113f7",
        "type": "subflow:891217bc10092296",
        "z": "885cb98dd62fafb3",
        "name": "进入会议室",
        "env": [
            {
                "name": "REIP",
                "value": "172.16.66.82",
                "type": "str"
            }
        ],
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "8f11cfa96b6c105f",
        "type": "subflow:891217bc10092296",
        "z": "885cb98dd62fafb3",
        "name": "离开会议室",
        "env": [
            {
                "name": "REIP",
                "value": "172.16.66.82",
                "type": "str"
            }
        ],
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "9e7ff0250dd8d86e",
        "type": "subflow:891217bc10092296",
        "z": "885cb98dd62fafb3",
        "name": "打开灯光",
        "env": [
            {
                "name": "REIP",
                "value": "172.16.66.82",
                "type": "str"
            }
        ],
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "10afed40c5bcb44a",
        "type": "comment",
        "z": "885cb98dd62fafb3",
        "name": "多设备-组合子流程",
        "info": "",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "16fdecd2d75cf6ed",
        "type": "comment",
        "z": "885cb98dd62fafb3",
        "name": "多设备-组合子流程",
        "info": "",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "5dc469d5ebc77070",
        "type": "comment",
        "z": "885cb98dd62fafb3",
        "name": "单设备-子流程",
        "info": "",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "31b52bbacc3a395f",
        "type": "comment",
        "z": "885cb98dd62fafb3",
        "name": "单设备-子流程",
        "info": "",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "541b27fa62756559",
        "type": "subflow:891217bc10092296",
        "z": "885cb98dd62fafb3",
        "name": "矩阵配对",
        "env": [
            {
                "name": "REIP",
                "value": "172.16.66.86",
                "type": "str"
            }
        ],
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "81db017e5e429cd6",
        "type": "comment",
        "z": "885cb98dd62fafb3",
        "name": "单设备-矩阵-子流程",
        "info": "",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "4dbac264f937b206",
        "type": "subflow:8aa859640849a524",
        "z": "885cb98dd62fafb3",
        "name": "",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "10cc73314f1d520a",
        "type": "tcp in",
        "z": "e27f1b2639a0208c",
        "name": "",
        "server": "server",
        "host": "",
        "port": "2400",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "监听会议室接入",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "a80a2befb5bd9c62"
            ]
        ]
    },
    {
        "id": "a80a2befb5bd9c62",
        "type": "switch",
        "z": "e27f1b2639a0208c",
        "name": "会议室",
        "property": "ip",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "172.16.66.82",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "172.16.66.83",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "172.16.66.84",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 510,
        "y": 280,
        "wires": [
            [
                "892bb5263bf6a5cc"
            ],
            [
                "09acc79340e4c53f"
            ],
            [
                "3ff7d5b7984de750"
            ]
        ]
    },
    {
        "id": "c9aa9bb8ee9d2674",
        "type": "comment",
        "z": "e27f1b2639a0208c",
        "name": "监听Touch设备输入",
        "info": "",
        "x": 330,
        "y": 180,
        "wires": []
    },
    {
        "id": "9c71e931565d80e8",
        "type": "comment",
        "z": "e27f1b2639a0208c",
        "name": "一个IP对应一个会议室",
        "info": "",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "892bb5263bf6a5cc",
        "type": "subflow:885cb98dd62fafb3",
        "z": "e27f1b2639a0208c",
        "name": "会议室1",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "09acc79340e4c53f",
        "type": "subflow:885cb98dd62fafb3",
        "z": "e27f1b2639a0208c",
        "name": "会议室2",
        "env": [
            {
                "name": "MX0402",
                "value": "192.168.1.3",
                "type": "str"
            },
            {
                "name": "SW640",
                "value": "192.168.1.4",
                "type": "str"
            }
        ],
        "x": 720,
        "y": 280,
        "wires": []
    },
    {
        "id": "3ff7d5b7984de750",
        "type": "subflow:885cb98dd62fafb3",
        "z": "e27f1b2639a0208c",
        "name": "会议室3",
        "env": [
            {
                "name": "MX0402",
                "value": "192.168.1.5",
                "type": "str"
            },
            {
                "name": "SW640",
                "value": "192.168.1.6",
                "type": "str"
            }
        ],
        "x": 720,
        "y": 340,
        "wires": []
    },
    {
        "id": "871deaf0e452410b",
        "type": "tcp in",
        "z": "13f04223b78eae09",
        "name": "",
        "server": "server",
        "host": "",
        "port": "2400",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "监听会议室接入",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "681eb74c03ae954b"
            ]
        ]
    },
    {
        "id": "681eb74c03ae954b",
        "type": "switch",
        "z": "13f04223b78eae09",
        "name": "会议室",
        "property": "ip",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "172.16.66.82",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "172.16.66.83",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "172.16.66.84",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 400,
        "wires": [
            [
                "fec12ba025019552"
            ],
            [
                "af4091285d7139ad"
            ],
            [
                "0d47be8bcd82f78b"
            ]
        ]
    },
    {
        "id": "fec12ba025019552",
        "type": "switch",
        "z": "13f04223b78eae09",
        "name": "会议室1-命令解析",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "a857ba279d55d7c3"
            ],
            [
                "12782897306b657b"
            ],
            [
                "e749a0dab950c14b"
            ],
            [
                "a5a59ededc0a56e0"
            ]
        ]
    },
    {
        "id": "a857ba279d55d7c3",
        "type": "subflow:3802c696647990ad",
        "z": "13f04223b78eae09",
        "name": "进入会议室",
        "env": [
            {
                "name": "REIP",
                "value": "172.16.66.82",
                "type": "str"
            }
        ],
        "x": 870,
        "y": 100,
        "wires": []
    },
    {
        "id": "12782897306b657b",
        "type": "subflow:3802c696647990ad",
        "z": "13f04223b78eae09",
        "name": "离开会议室",
        "env": [
            {
                "name": "REIP",
                "value": "172.16.66.82",
                "type": "str"
            }
        ],
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "e749a0dab950c14b",
        "type": "subflow:3802c696647990ad",
        "z": "13f04223b78eae09",
        "name": "调节音量",
        "env": [
            {
                "name": "REIP",
                "value": "172.16.66.82",
                "type": "str"
            }
        ],
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "a5a59ededc0a56e0",
        "type": "subflow:3802c696647990ad",
        "z": "13f04223b78eae09",
        "name": "打开灯光",
        "env": [
            {
                "name": "REIP",
                "value": "172.16.66.82",
                "type": "str"
            }
        ],
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "af4091285d7139ad",
        "type": "switch",
        "z": "13f04223b78eae09",
        "name": "会议室2-命令解析",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 400,
        "wires": [
            [
                "4db0f026783c94e2"
            ]
        ]
    },
    {
        "id": "4db0f026783c94e2",
        "type": "subflow:3802c696647990ad",
        "z": "13f04223b78eae09",
        "name": "打开灯光",
        "env": [
            {
                "name": "REIP",
                "value": "172.16.66.82",
                "type": "str"
            }
        ],
        "x": 860,
        "y": 400,
        "wires": []
    },
    {
        "id": "0d47be8bcd82f78b",
        "type": "switch",
        "z": "13f04223b78eae09",
        "name": "会议室3-命令解析",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "ce088b9e7e58103c"
            ],
            [
                "eb38c01292c700ab"
            ]
        ]
    },
    {
        "id": "ce088b9e7e58103c",
        "type": "subflow:3802c696647990ad",
        "z": "13f04223b78eae09",
        "name": "进入会议室",
        "env": [
            {
                "name": "REIP",
                "value": "172.16.66.82",
                "type": "str"
            }
        ],
        "x": 870,
        "y": 460,
        "wires": []
    },
    {
        "id": "eb38c01292c700ab",
        "type": "subflow:3802c696647990ad",
        "z": "13f04223b78eae09",
        "name": "离开会议室",
        "env": [
            {
                "name": "REIP",
                "value": "172.16.66.82",
                "type": "str"
            }
        ],
        "x": 870,
        "y": 540,
        "wires": []
    },
    {
        "id": "57aad3cd240f149c",
        "type": "comment",
        "z": "13f04223b78eae09",
        "name": "多设备-组合子流程",
        "info": "",
        "x": 1050,
        "y": 100,
        "wires": []
    },
    {
        "id": "02a7051fbae98f04",
        "type": "comment",
        "z": "13f04223b78eae09",
        "name": "多设备-组合子流程",
        "info": "",
        "x": 1050,
        "y": 160,
        "wires": []
    },
    {
        "id": "20946ea77b4ab922",
        "type": "comment",
        "z": "13f04223b78eae09",
        "name": "多设备-组合子流程",
        "info": "",
        "x": 1050,
        "y": 460,
        "wires": []
    },
    {
        "id": "2e999a3ac305ec30",
        "type": "comment",
        "z": "13f04223b78eae09",
        "name": "多设备-组合子流程",
        "info": "",
        "x": 1050,
        "y": 540,
        "wires": []
    },
    {
        "id": "93fe7e5ee70d7700",
        "type": "comment",
        "z": "13f04223b78eae09",
        "name": "单设备-子流程",
        "info": "",
        "x": 1030,
        "y": 240,
        "wires": []
    },
    {
        "id": "f272589cc92c1d2e",
        "type": "comment",
        "z": "13f04223b78eae09",
        "name": "单设备-子流程",
        "info": "",
        "x": 1030,
        "y": 320,
        "wires": []
    },
    {
        "id": "8139d8f5f9cc382e",
        "type": "comment",
        "z": "13f04223b78eae09",
        "name": "单设备-子流程",
        "info": "",
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "794adfa6661929a9",
        "type": "comment",
        "z": "13f04223b78eae09",
        "name": "监听Touch设备输入",
        "info": "",
        "x": 150,
        "y": 320,
        "wires": []
    },
    {
        "id": "aa4ba04ec1ddd3ce",
        "type": "comment",
        "z": "13f04223b78eae09",
        "name": "一个IP对应一个会议室",
        "info": "",
        "x": 360,
        "y": 320,
        "wires": []
    }
]